
  <div class="chat-wrapper">

  <div class="messages">
    <div class="message-inner"  *ngFor="let message of messages">
  <div
       [ngClass]="{ 'from': message.author === 'bot',
'to': message.author === 'user' }">
    <div class="text">{{ message.content }}</div>

  </div>
  </div>
  </div>
</div>
  <div class="input-area" style="margin-top: 1rem">
    <input class="input" type="text"  placeholder="Введите вопрос"  [(ngModel)]="value" (keyup.enter)="sendMessage()">
    <i (click)="sendMessage()" class="material-icons send-button">arrow_upward</i>
<!--    <button class="btn btn-grey width47" (click)="sendMessage()">Отправить сообщение </button>-->
  </div>

