<!--<h1>История операций</h1>-->
<div *ngIf="transactions">

  <mat-form-field class="width100">
    <mat-label>Введите даты </mat-label>
    <mat-date-range-input  [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" (dateChange)="filterTransactions()" placeholder="Начало периода" >
      <input matEndDate formControlName="end" placeholder="Конец периода" (dateChange)="filterTransactions()">
    </mat-date-range-input>
    <mat-hint>ДД.ММ.ГГГГ – ДД.ММ.ГГГГ</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Ошибка формата</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Ошибка формата</mat-error>
  </mat-form-field>

  <!--  <div>-->
  <!--    <label for="startDate">Начало периода:</label>-->




  <!--    <input-->
  <!--      type="date"-->
  <!--      id="startDate"-->

  <!--      [value]="startDate"-->
  <!--      (change)="filterTransactions()"-->
  <!--    />-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    <label for="endDate">Конец периода:</label>-->
  <!--    <input-->
  <!--      type="date"-->
  <!--      id="endDate"-->
  <!--      value="{{endDate}}"-->
  <!--      [(ngModel)]="endDate"-->
  <!--      (change)="filterTransactions()"-->
  <!--    />-->

  <ul *ngIf="transactions!=null">
    <div class="transaction-wrapper" >
      <li  *ngFor="let transaction of filteredTransactions">
        <div class="datetime">{{ transaction.dateCreated.toLocaleDateString("ru-RU") + " " + transaction.dateCreated.toLocaleTimeString("ru-RU") }}</div>
        <div class="transaction" *ngIf="wallets && cards && getNameAndLink(transaction); let wallets" >

          <div class="transaction-numbers">
            <div class="col-5 info-mini source-block">
              <div class="info-mini-inner">
                <div><label >Откуда</label></div>
                <div><a [routerLink]="wallets[0].link"><p class="number">{{ wallets[0].number }}</p></a></div>
              </div>
              <div class="info-mini-inner">
                <!--                <div><label>Сколько</label></div>-->
                <div><p class="amount">{{ "-" + transaction.amountTransferred + " " +wallets[0].currency }}</p></div>
              </div>

            </div>
            <div class="col-5 info-mini target-block">
              <div class="info-mini-inner">
                <label >Куда</label>
                <a [routerLink]="wallets[1].link"><p class="number">{{ wallets[1].number }}</p></a>
              </div>
              <div class="info-mini-inner">
                <!--              <label>Сколько</label>-->
                <div><p class="amount">{{ transaction.amountTransferred + " " + wallets[1].currency }}</p></div>
              </div>
            </div>
          </div>
        </div>

      </li>
    </div>
  </ul>
</div>

<div *ngIf="!transactions">
  <h2>История транзакций пуста</h2>
</div>

