input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}
nput[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

li {
  list-style: none;
  padding-top: 1rem;
}

.transaction-wrapper {
  display: flex;
  flex-direction: column;
  //max-height: 90vh;
  //overflow: scroll;
  overflow: hidden;
}


.transaction {
  margin: 0.5rem 0;
  display: flex;
  //padding: 0.5rem 1.5rem;
  //background-color: white;
  //border-radius: 10px;
  flex-direction: column;
}

.transaction-numbers {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 20px;

  //margin: 0.5rem 0;
  //display: flex;
  //padding: 0.5rem 1.5rem;
  //background-color: white;
  //border-radius: 10px;
}

.col-25 {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.col-3 {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.col-5 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  box-sizing: border-box;
}

.source-block {
  background-color: white;
  //background-color: #fcc9c9;
}

.target-block {
  background-color: white;
  //background-color: #c0ffb0;
}
.info-mini {
  //background-color: var(--main-bg-grey);
  border-radius: 20px;
  padding: 0.2rem 2rem;

}

.info-mini-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.info-mini-inner a {
  z-index: 3;
}

.transaction a {
  z-index: 2;
}

.info-mini-inner label{
  color: grey;

}

.info-mini-inner p {
  margin: 0;
}


.datetime {
  font-size: 1rem;
  font-weight: 400;
  color: grey;
}

.amount {
  font-size: 1.2rem;
}

.number {
  font-size: 1.1rem;
}
.target-block .amount {
  color: #54bf39;
}

.source-block .amount {
  color: #d43d3d;
}
