<!-- app.component.html -->

<div>
  <h2>{{'createAccount' | translate}}</h2><mat-form-field class="width100">
  <mat-label>{{'appLanguage'|translate}}</mat-label>
  <mat-select [(ngModel)]="selectedLang" (selectionChange)="onLang($event)">
    <mat-option [value]="'ru'">Русский</mat-option>
    <mat-option [value]="'en'">English</mat-option>
  </mat-select>
</mat-form-field>
<app-consent-text [language]="selectedLang" style="  max-height: 50vh;"></app-consent-text>
  <br>
  <form (ngSubmit)="submitForm()" #accountForm="ngForm">
    <label>
<!--      <input type="checkbox" id="agreeCheckbox" name="agreeCheckbox" [(ngModel)]="agreed" required>-->
      <mat-checkbox (change)="agreed = !agreed" required></mat-checkbox>{{'agreementAlt' | translate}}



    </label>
  <br>
    <button class="btn btn-green" type="submit" [disabled]="!agreed">{{'openAccount' | translate}}</button>
  </form>
</div>
