<div class="component-card">
  <div >

    <div class="component-card-header">
      <h2>Доступные карты</h2>
      <a [routerLink]="['/addCard']"><i class="material-icons">add_circle_outline</i></a>
    </div>
    <div *ngIf="!cards" >
      <h3>У вас еще нет карт</h3>
    </div>
    <div *ngIf="cards && cards.length > 0" class="component-card-list">


      <ul>
        <div class="component-item-wrapper" *ngFor="let card of cards.slice(0,2); let i = index">
          <app-cards-iteration [card]="card" [countries]="countries"></app-cards-iteration>
          <hr *ngIf="i<1">
        </div>
        <div *ngIf="showAllCards">
          <hr>
          <div class="component-item-wrapper" *ngFor="let card of cards.slice(2); let i = index">
            <app-cards-iteration [card]="card" [countries]="countries"></app-cards-iteration>
            <hr *ngIf="i<cards.slice(2).length-1">
          </div>
        </div>
      </ul>
    </div>


    <button *ngIf="cards && cards.length > 2" class="btn btn-grey width100" (click)="onShowAllCards()">{{ showAllCards ? 'Скрыть карты' : 'Показать все карты'}}</button>

  </div>
</div>
