<div class="main-text">
  <p>
    Добро пожаловать на нашу платформу! Прежде чем открыть аккаунт, пожалуйста, внимательно прочтите следующие условия использования:
  </p>

  <h2>Согласие Банку на обработку ПДн</h2>
  <p>Я, (далее — «<b>Заявитель</b>»), свободно, своей волей и в своем интересе даю конкретное, информированное и сознательное согласие ПАО КБ «Центр-инвест» (г. Ростов-на-Дону, пр. Соколова, 62) (далее — «<b>Банк</b>») на обработку моих персональных данных, включающих в себя информацию, относящуюся ко мне, в том числе фамилию, имя, отчество, гражданство, дату и место рождения, адрес, реквизиты документа, удостоверяющего личность, идентификационный номер налогоплательщика (при его наличии), СНИЛС, контактный номер телефона, эл. адрес, а также иную информацию, содержащуюся в документах, предоставленных мною, либо полученную в результате ее проверки от третьих лиц.</p>

  <p>Обработка персональных данных может осуществляться с использованием средств автоматизации или без таковых, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных, в том числе в информационных системах <b>Банка</b>, и совершение иных действий, предусмотренных Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».</p>

  <p>Целями обработки персональных данных являются:</p>
  <ul>
    <li>заключение с <b>Банком</b> и третьими лицами договоров и соглашений, в т.ч. связанных с открытием и ведением текущих счетов;</li>
    <li>проверка достоверности указанных <b>Заявителем</b> сведений;</li>
    <li>подбор и предоставление <b>Банком</b> услуг <b>Заявителю</b>;</li>
    <li>предоставление <b>Заявителю</b> информации о результатах рассмотрения <b>Банком</b> Заявления.</li>
  </ul>

  <p>Согласие действует до момента его отзыва. Персональные данные подлежат уничтожению по достижению вышеуказанных целей обработки персональных данных с учетом требований по их хранению не менее 5 (пяти) лет с даты прекращения отношений с клиентом в соответствии с законодательством Российской Федерации. Согласие на обработку персональных данных может быть отозвано посредством предъявления письменного уведомления об этом <b>Банка</b> по юридическому адресу за 30 дней до даты отзыва. По истечении 30 дней с даты получения от Клиента отзыва согласия на обработку персональных данных <b>Банк</b> прекращает обработку персональных данных, в случаях, предусмотренных законом.</p>
</div>
