<div class="main-text" *ngIf="language=='ru'">
  <p>
    Добро пожаловать на нашу платформу! Прежде чем открыть аккаунт, пожалуйста, внимательно прочтите следующие условия использования:
  </p>

  <h2>Согласие Банку на обработку ПДн</h2>
  <p>Я, (далее — «<b>Заявитель</b>»), свободно, своей волей и в своем интересе даю конкретное, информированное и сознательное согласие ПАО КБ «Центр-инвест» (г. Ростов-на-Дону, пр. Соколова, 62) (далее — «<b>Банк</b>») на обработку моих персональных данных, включающих в себя информацию, относящуюся ко мне, в том числе фамилию, имя, отчество, гражданство, дату и место рождения, адрес, реквизиты документа, удостоверяющего личность, идентификационный номер налогоплательщика (при его наличии), СНИЛС, контактный номер телефона, эл. адрес, а также иную информацию, содержащуюся в документах, предоставленных мною, либо полученную в результате ее проверки от третьих лиц.</p>

  <p>Обработка персональных данных может осуществляться с использованием средств автоматизации или без таковых, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, обезличивание, блокирование, удаление, уничтожение персональных данных, в том числе в информационных системах <b>Банка</b>, и совершение иных действий, предусмотренных Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных».</p>

  <p>Целями обработки персональных данных являются:</p>
  <ul>
    <li>заключение с <b>Банком</b> и третьими лицами договоров и соглашений, в т.ч. связанных с открытием и ведением текущих счетов;</li>
    <li>проверка достоверности указанных <b>Заявителем</b> сведений;</li>
    <li>подбор и предоставление <b>Банком</b> услуг <b>Заявителю</b>;</li>
    <li>предоставление <b>Заявителю</b> информации о результатах рассмотрения <b>Банком</b> Заявления.</li>
  </ul>

  <p>Согласие действует до момента его отзыва. Персональные данные подлежат уничтожению по достижению вышеуказанных целей обработки персональных данных с учетом требований по их хранению не менее 5 (пяти) лет с даты прекращения отношений с клиентом в соответствии с законодательством Российской Федерации. Согласие на обработку персональных данных может быть отозвано посредством предъявления письменного уведомления об этом <b>Банка</b> по юридическому адресу за 30 дней до даты отзыва. По истечении 30 дней с даты получения от Клиента отзыва согласия на обработку персональных данных <b>Банк</b> прекращает обработку персональных данных, в случаях, предусмотренных законом.</p>
</div>
<div class="main-text" *ngIf="language=='en'">
  <p>
    Welcome to our platform! Before opening an account, please carefully read the following terms of use:
  </p>

  <h2>Consent of the Bank to the Processing of Personal Data</h2>
  <p>I, hereinafter referred to as the "<b>Applicant</b>," freely, willingly, and in my own interest, give specific, informed, and conscious consent to PJSC KB "Center-Invest" (Rostov-on-Don, Sokolova Ave, 62), hereinafter referred to as the "<b>Bank</b>," to process my personal data, including information related to me, such as surname, first name, patronymic, citizenship, date and place of birth, address, details of the identity document, taxpayer identification number (if available), SNILS, contact phone number, email address, as well as other information contained in documents provided by me or obtained as a result of its verification from third parties.</p>

  <p>The processing of personal data may be carried out using automation tools or without them, including collection, recording, systematization, accumulation, storage, clarification (updating, changing), extraction, use, depersonalization, blocking, deletion, destruction of personal data, including in the <b>Bank's</b> information systems, and other actions provided for by Federal Law of 27.07.2006 No. 152-FZ "On Personal Data."</p>

  <p>The purposes of processing personal data are:</p>
  <ul>
    <li>Conclusion of agreements and agreements with the <b>Bank</b> and third parties, including those related to the opening and maintenance of current accounts;</li>
    <li>Verification of the accuracy of the information provided by the <b>Applicant</b>;</li>
    <li>Selection and provision of services by the <b>Bank</b> to the <b>Applicant</b>;</li>
    <li>Provision of information to the <b>Applicant</b> about the results of the <b>Bank's</b> consideration of the application.</li>
  </ul>

  <p>The consent is valid until its withdrawal. Personal data are subject to destruction upon achieving the above-mentioned purposes of processing personal data, taking into account the storage requirements of at least 5 (five) years from the date of termination of relations with the client in accordance with the legislation of the Russian Federation. Consent to the processing of personal data may be revoked by submitting a written notice to the <b>Bank's</b> legal address 30 days before the withdrawal date. After 30 days from the date of receiving the client's withdrawal of consent, the <b>Bank</b> ceases to process personal data, in cases provided for by law.</p>
</div>
