label {
  font-size: 1rem;
}

.material-icons-outlined {
  font-size: 2rem;
}

.target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: white;
  border-radius: 10px;
}

.target p{
  font-size: 1rem;
  color: grey;
}

.target span{
  font-size: 1.2rem;
}

.small-targets{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 1rem;
}

.small-target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}
.small-target p{
  font-size: 1rem;
  color: grey;
  margin-bottom: 0.1rem;
}

.full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.input-block {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info p{
  font-size: 0.8rem;
}

.info span{
  font-size: 1.3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.button-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}



.input {
  border: 1px solid var(--main-color-green);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}


.available {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  background-color: white;
  border-radius: 10px;
}

.available span {
  font-size: 1.625rem;
}

.available p {
  font-size: 1rem;
}
