<h1>Перевод</h1>

<form (ngSubmit)="onSendTransfer()">
  <div class="source_first">
    <label for="source">Откуда:</label>
    <div class="select-wrapper">
    <select class="select" (change)="onSource($event)" name="source" id="source" required>
      <option disabled selected style="display:none">Выберите тип</option>
      <option value="digitalWallet">Цифровой кошелек</option>
      <option value="card">Банковская карта</option>
    </select></div>
  </div>

  <div *ngIf="sourceSecond == 'digitalWallet'" class="source_second_wallet">
    <br>
    <label for="source_second_wallet_field">Выберите кошелек:</label>
    <div class="select-wrapper">
    <select class="select"  (change)="onSourceAccount($event)" name="source_second_wallet_field" id="source_second_wallet_field"
            required>
      <option disabled selected style="display:none">Доступные кошельки</option>
      <option *ngFor="let wallet of wallets"
              value="{{wallet.walletNumber}}">{{countries.get(wallet.country).currencyName}}</option>
    </select>
    </div>
  </div>


  <div *ngIf="sourceSecond == 'card'" class="source_second_card">
    <br>
    <label for="source_second_card_field">Выберите карту:</label>
    <div class="select-wrapper">
      <select class="select"  (change)="onSourceAccount($event)" name="source_second_card_field" id="source_second_card_field"
              required>
        <option disabled selected style="display:none">Доступные карты</option>
        <option *ngFor="let card of cards"
                value="{{card.cardNumber}}">{{card.bank + " " + countries.get(card.country).currencyName}}</option>
      </select>
    </div>
      </div>

  <div class="target_first" >
    <br>
    <label for="target">Куда:</label>
    <div class="select-wrapper">
    <select [disabled]="sourceValue == null" class="select"  (change)="onTarget($event)" name="target" id="target" required>
      <option disabled selected [defaultSelected]="targetSecond == undefined" style="display:none">Выберите тип</option>
      <option value="digitalWallet">Цифровой кошелек</option>
      <option value="card">Банковская карта</option>
    </select></div></div>


  <div *ngIf="targetSecond == 'digitalWallet' && sourceSecond == 'digitalWallet'" class="target_second_wallet">
    <br>
    <label for="target_second_wallet_field">Выберите кошелек:</label>
    <div class="select-wrapper">
    <select class="select"  (change)="onTargetAccount($event)" name="target_second_wallet_field" id="target_second_wallet_field"
            required>
      <option disabled selected style="display:none">Доступные кошельки</option>

      <ng-container *ngFor="let wallet of wallets">
        <option *ngIf="sourceValue != wallet.walletNumber"
                value="{{wallet.walletNumber}}">{{countries.get(wallet.country).currencyName}}</option>
      </ng-container>
    </select>
    </div>
  </div>


  <div *ngIf="targetSecond == 'card' && sourceSecond == 'card'" class="target_second_card">
    <br>
    <label for="target_second_card_field">Выберите карту:</label>
    <div class="select-wrapper">
      <select class="select"  (change)="onTargetAccount($event)" name="target_second_card_field" id="target_second_card_field"
              required>
        <option disabled selected style="display:none">Доступные карты</option>

        <ng-container *ngFor="let card of cards">
          <option *ngIf="sourceCountry != card.country"
                  value="{{card.cardNumber}}">{{card.bank + " " + countries.get(card.country).currencyName}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <div *ngIf="targetSecond == 'digitalWallet' && sourceSecond == 'card'" class="target_second_card">
    <br>
    <label for="target_second_card_field_diff">Выберите карту:</label>
    <div class="select-wrapper">
      <select class="select"  (change)="onTargetAccount($event)" name="target_second_card_field_diff" id="target_second_card_field_diff"
              required>
        <option disabled selected style="display:none">Доступные кошельки</option>

        <ng-container *ngFor="let wallet of wallets">
          <option *ngIf="sourceCountry == wallet.country"
                  value="{{wallet.walletNumber}}">{{countries.get(wallet.country).currencyName}}</option>
        </ng-container>
      </select>
    </div>
  </div>

  <div *ngIf="targetSecond == 'card' && sourceSecond == 'digitalWallet'" class="target_second_card">
    <br>
    <label for="target_second_card_field_diff">Выберите карту:</label>
    <div class="select-wrapper">
      <select class="select"  (change)="onTargetAccount($event)" name="target_second_card_field_diff" id="target_second_card_field_diff"
              required>
        <option disabled selected style="display:none">Доступные карты</option>

        <ng-container *ngFor="let card of cards">
          <option *ngIf="sourceCountry == card.country"
                  value="{{card.cardNumber}}">{{card.bank + " " + countries.get(card.country).currencyName}}</option>
        </ng-container>
      </select>
    </div>
  </div>





  <div
    *ngIf="targetSecond!=null
    && targetValue!= null
    && sourceValue != null
    && (targetSecond != sourceSecond)"
    class="target_second_card">

    <div *ngIf="targetSecond != null && sourceSecond != null" class="target_second_card">
      <div class="full info">
        <div class="target width30">
          <p>Доступно</p>
          <span>{{sourceWallet.balance}} {{countries.get(sourceWallet!.country).currencySign}}</span>
        </div>
        <div class="target width30">
          <p>Курс перевода</p>
          <span>0</span>
        </div>
        <div class="target width30">
          <p>Комиссия</p>
          <span>0%</span>
        </div>
      </div>
      <!--      <p></p>-->
      <!--      <p *ngIf="targetValue!= null && sourceValue != null">Курс перевода: {{currencyToShow}}</p>-->
      <!--      <p *ngIf="targetValue!= null && sourceValue != null">Комиссия: {{feeToShow! * 100}}%</p>-->
    </div>
    <br>
    <hr>
    <div>
      <br>
      <div class="input-wrapper">
        <input class="input" type="text" min="1" placeholder="Введите сумму" max="1000000" maxlength="7" (input)="onValueNotEqual($event)">
      </div>
      <div class="target">
        <p>Будет зачислено</p>
        <span>{{targetCurrency}} {{countries.get(targetWallet.country).currencySign}}</span>
      </div>
    </div>
  </div>


  <div
    *ngIf="targetSecond!=null
    && targetValue!= null
    && sourceValue != null
    && (targetSecond == sourceSecond)"
    class="target_second_card">

    <div *ngIf="targetSecond != null && sourceSecond != null" class="target_second_card">
      <div class="full info">
      <div class="target width30">
        <p>Доступно</p>
        <span>{{mathRoundTwo(sourceWallet.balance)}} {{countries.get(sourceWallet!.country).currencySign}}</span>
      </div>
      <div class="target width30">
        <p>Курс перевода</p>
        <span>{{currencyToShow}}</span>
      </div>
      <div class="target width30">
        <p>Комиссия</p>
        <span>{{feeToShow! * 100}}%</span>
      </div>
      </div>
<!--      <p></p>-->
<!--      <p *ngIf="targetValue!= null && sourceValue != null">Курс перевода: {{currencyToShow}}</p>-->
<!--      <p *ngIf="targetValue!= null && sourceValue != null">Комиссия: {{feeToShow! * 100}}%</p>-->
    </div>
    <br>
<hr>
    <div>
      <br>
      <div class="input-wrapper">
        <input class="input" type="text" min="1" placeholder="Введите сумму" max="1000000" maxlength="7" (input)="onValue($event)">
      </div>
      <div class="target">
        <p>Будет зачислено</p>
        <span>{{targetCurrency}} {{countries.get(targetWallet.country).currencySign}}</span>
      </div>
      <div class="full">
        <div class="target width47">
          <p>Комиссия</p>
          <span>{{fee}} {{countries.get(sourceWallet.country).currencySign}}</span>
        </div>
      <div class="target width47">
        <p>Будет списано</p>
        <span>{{targetSum == null || isNaN(targetSum!) ? '' : targetSum}} {{countries.get(sourceWallet.country).currencySign}}</span>
      </div>
      </div>
    </div>
  </div>
  <input [disabled]="this.targetValue== null || this.sourceValue == null || isNaN(this.targetSum!) || this.targetSum==0 " type="submit"
         value="Перевести">

</form>
