<h1>{{'transaction'|translate}}</h1>
<ul *ngIf="transaction!=null">
  <div class="transaction-wrapper">
    <li>
      <div class="datetime">{{ transaction.dateCreated.toLocaleDateString("ru-RU") + " " + transaction.dateCreated.toLocaleTimeString("ru-RU") }}</div>
      <div class="transaction" *ngIf="wallets && cards && getNameAndLink(transaction); let wallets" >

          <div class="transaction-numbers">
            <div class="col-5 info-mini source-block">
              <div class="info-mini-inner">
                <div><label >{{'from'|translate}}</label></div>
                <div><a [href]="wallets[0].link"><p class="number">{{ wallets[0].number }}</p></a></div>
              </div>
              <div class="info-mini-inner">
                <!--                <div><label>Сколько</label></div>-->
                <div><p class="amount">{{ "-" +   formatNumber(transaction.amountCurrencyExchanged) + " " +wallets[0].currency }}</p></div>
              </div>

            </div>
            <div class="col-5 info-mini target-block">
              <div class="info-mini-inner">
                <label >{{'to'|translate}}</label>
                <a [href]="wallets[1].link"><p class="number">{{ wallets[1].number }}</p></a>
              </div>
              <div class="info-mini-inner">
                <!--              <label>Сколько</label>-->
                <div><p class="amount">{{  "+" +  formatNumber(transaction.amountTransferredPlusFee != 0 ? transaction.amountTransferredPlusFee : transaction.amountTransferred) + " " + wallets[1].currency }}</p></div>
              </div>
            </div>
          </div>

        <div class="col-5 info-mini source-block er-fee">
          <div class="info-mini-inner">
            <div><label>{{'rate'|translate}}</label></div>
            <div><p class="number">  {{ formatNumber(transaction.amountTransferred/transaction.amountTransferredPlusFee)}}</p></div>
          </div>
          <div class="info-mini-inner">
            <div><label>{{'fee'|translate}}</label></div>
            <div><p class="number">{{ getFee(transaction.amountCurrencyExchanged, transaction.amountTransferred) + " " + wallets[0].currency}}</p></div>
          </div>
        </div>

      </div>

    </li>
  </div>
  <div *ngIf="transaction.transactionHistory.length > 0">
  <h2>{{'details'|translate}}</h2>
  <div class="transaction-wrapper">
    <li  *ngFor="let transaction of transaction.transactionHistory; index as i">
      <div class="datetime">{{ ('transaction' |  translate) + " " + (i+1)}} </div>
      <div class="transaction" *ngIf="wallets && cards && getNameAndLink(transaction); let wallets" >

          <div class="transaction-numbers">
            <div class="col-5 info-mini source-block">
              <div class="info-mini-inner">
                <div><label >{{'from'|translate}}</label></div>
                <div><a [href]="wallets[0].link"><p class="number">{{ wallets[0].number }}</p></a></div>
              </div>
<!--              <div class="info-mini-inner">-->
<!--                <i class="material-icons-outlined">{{transaction.isSourceWallet ? 'account_balance_wallet' : 'credit_card'}}</i>-->
<!--              </div>-->
              <div class="info-mini-inner">

                <!--                <div><label>Сколько</label></div>-->
                <div><p class="amount">{{ "-" +   formatNumber(transaction.amountTransferred) + " " +wallets[0].currency }}</p></div>
              </div>

            </div>
            <div class="col-5 info-mini target-block">
              <div class="info-mini-inner">
                <label >{{'to'|translate}}</label>
                <a [href]="wallets[1].link"><p class="number">{{ wallets[1].number }}</p></a>
              </div>

              <div class="info-mini-inner">
                <!--              <label>Сколько</label>-->
                <div><p class="amount">{{  "+" +  formatNumber(transaction.amountCurrencyExchanged != 0 ? transaction.amountCurrencyExchanged : transaction.amountTransferred) + " " + wallets[1].currency }}</p></div>
              </div>
            </div>
          </div>

<!--        <div  class="col-5 info-mini source-block er-fee">-->
<!--      -->
<!--          <div class="info-mini-inner">-->
<!--            <div><label>Курс</label></div>-->
<!--            <div><p class="number">  {{ formatNumber(transaction.amountTransferred/transaction.amountTransferredPlusFee)}}</p></div>-->
<!--          </div>-->
<!--          <div class="info-mini-inner">-->
<!--            <div><label>Комиссия</label></div>-->
<!--            <div><p class="number">{{ getFee(transaction.amountCurrencyExchanged, transaction.amountTransferred) + " " + wallets[0].currency}}</p></div>-->
<!--          </div>-->
<!--        </div>-->



      </div>

    </li>
  </div>
  </div>
</ul>

<div *ngIf="transaction==null">
  <h3>{{'noTransaction'|translate}}</h3>
</div>
