<div *ngIf="wallet">
  <h1>Цифровой кошелек: {{ countries.get(wallet.country).currencyName }}</h1>

  <div class="wallet">
    <div class="wallet-body">
      <h3>Номер кошелька: </h3>
      <div class="input-wrapper">
        <input disabled class="input" type="text" value="{{ formatFullWalletNumber(wallet.digitalWalletNumber.toString()) }}">
      </div>
      <h3>Баланс: </h3>
      <div class="input-wrapper">
        <input disabled class="input" type="text" value="{{ formatBalance(wallet.balance) }} {{ countries.get(wallet.country).currencySign }}">
      </div>
      <h3>Дата создания: </h3>
      <div class="input-wrapper">
        <input disabled class="input" type="text" value="{{ wallet.dateCreated }}">
      </div>
    </div>
  </div>

  <!-- Additional features can be added here, e.g., transaction history, buttons for actions, etc. -->
</div>

<div *ngIf="!wallet">
  <p>Loading...</p>
</div>
