<!-- main-page.component.html -->
<div class="main-components">
    <div class="title"><img ngSrc="assets/logo_small.png" width="60" height="60"><h1>МОНЕТАРИЙ</h1></div>
    <div class="component-card">
        <div >

            <div class="component-card-header">
                <h2>Цифровые кошельки</h2>
                <a [routerLink]="['/addWallet']"><i class="material-icons">add_circle_outline</i></a>
            </div>
          <div *ngIf="!wallets" >
            <h3>У вас еще нет кошельков</h3>
          </div>
            <div *ngIf="wallets && wallets.length > 0" class="component-card-list">


                <ul>
                    <div class="component-item-wrapper" *ngFor="let wallet of wallets.slice(0,2); let i = index">
                        <a [routerLink]="['wallet', wallet.id]" [ngClass]="{notactive: i>2}">
                            <li class="component-item">
                                <div class="component-item-left">
                                    <span>{{ Math.round(wallet.balance*100)/100 }} </span>
                                    <span class="countrySign">{{countries?.get(wallet.centralBank).currencySign}}</span>
                                    <p>Цифровой кошелек</p>
                                </div>

                                <div class="component-item-right">
                                    <div class="countryFlag">{{countries?.get(wallet.centralBank).flag}}</div>
                                    <div>{{countries?.get(wallet.centralBank).currencyTicker}}</div>
                                </div>
                            </li>
                        </a>
                        <hr *ngIf="i<1">
                    </div>
                  <div *ngIf="showAllWallets">
                    <hr>
                  <div class="component-item-wrapper" *ngFor="let wallet of wallets.slice(2); let i = index">
                    <a [routerLink]="['wallet', wallet.id]" [ngClass]="{notactive: i>2}">
                      <li class="component-item">
                        <div class="component-item-left">
                          <span>{{ Math.round(wallet.balance*100)/100 }} </span>
                          <span class="countrySign">{{countries?.get(wallet.centralBank).currencySign}}</span>
                          <p>Цифровой кошелек</p>
                        </div>

                        <div class="component-item-right">
                          <div class="countryFlag">{{countries?.get(wallet.centralBank).flag}}</div>
                          <div>{{countries?.get(wallet.country).currencyTicker}}</div>
                        </div>
                      </li>
                    </a>
                    <hr *ngIf="i<wallets.slice(2).length-1">
                  </div>
                  </div>
                </ul>
            </div>

          <button *ngIf="wallets && wallets.length > 2" class="btn btn-grey width100" (click)="onShowAllWallets()">{{ showAllWallets ? 'Скрыть кошельки' : 'Показать все кошельки'}}</button>

          </div>
    </div>

  <app-cards></app-cards>

</div>
