<a [routerLink]="['card', card.id]">
  <li class="component-item">
    <div class="component-item-left">
      <span>{{formatNumber(card.balance)}} </span>
      <span class="countrySign">{{countries?.get(card.country).currencySign}}</span>
      <p>Карта</p>
      <p>{{banks.get(card.bankName)}}</p>
    </div>

    <div class="component-item-right">
      <div class="component-item-right-item">
        <div class="countryFlag"><img src=" {{countries?.get(card.country).flag}}"></div>
        <!--                <div>{{countries?.get(card.country).currencyTicker}}</div>-->
      </div>
      <div class="component-item-right-item">
        <img class="card-system" src="/assets/{{card.paymentSystem}}.svg" />
        <!--                  <p>{{card.system}}</p>-->
      </div>
    </div>
  </li>
</a>
