.screen {
  width: 100%;
  max-width: 425px;
  min-width: 320px;

  //max-height: 950px;
  //align-items: center;
  //justify-content: center;
  margin: 0;
  background-color: var(--main-bg-grey);
}

.paddings {
  padding: 4% 5% 7% 5%;
}

.bottom-menu {
  width: 100%;
  max-width: 425px;
  bottom: 0;
  text-align: center;
  position: fixed;
  z-index: 20;
}

.check {
  width: 100%;
}

.temp-wrapper{
  display: flex;
  text-align: center;
  justify-content: center;
}
.temp {
  background-color: white;
  padding: 1rem 1rem 0.3rem 1rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.temp .title {
  display: flex;
  flex-direction: row;

}
.temp h1 {
  line-height: 50px;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
}
