<div class="check"></div>

<div class="screen">
  <div class="temp-wrapper">
    <div class="temp">
      <div class="title" (click)="onMenuClick('/')"><img ngSrc="assets/logo_small.png" width="45" height="45"></div>
      <div class="title"><h1>{{ 'mainTitle' | translate}}</h1></div>
      <div class="title" *ngIf="consent"  (click)="onMenuClick('profile')" ><img ngSrc="assets/profile-placeholder.svg" width="45" height="45"></div>
      <div class="title"  *ngIf="!consent" style="width: 45px; height: 45px"></div>
    </div>
  </div>
  <div class="paddings">


  <router-outlet *ngIf="consent"></router-outlet>
    <app-consent *ngIf="!consent"></app-consent>
    <div style="height: 5vh"></div>
  </div>

</div>

<app-menu class="bottom-menu"></app-menu>

