.screen {
  width: 100%;
  max-width: 425px;
  min-width: 320px;

  //max-height: 950px;
  //align-items: center;
  //justify-content: center;
  margin: 0;
  background-color: var(--main-bg-grey);
}

.paddings {
  padding: 7% 5%;
}

.bottom-menu {
  width: 100%;
  max-width: 425px;
  bottom: 0;
  text-align: center;
  position: fixed;
}

.check {
  width: 100%;
}

