<h1>{{'card' | translate}}</h1>
<div *ngIf="card">
  <app-card-page-ui [card]="card"></app-card-page-ui>
  <a class="btn btn-green width100" [routerLink]="['/transfer']" [queryParams]="{ sourceWallet: 'false', sourceWalletId: card.id  }" >Перевести</a>
  <br>
  <app-history-pages-manager [cardNumber]="card.cardNumber"></app-history-pages-manager>

</div>
<!--<div class="bank-info">-->
<!--  <div class="input-wrapper">-->
<!--    <input disabled class="input" type="text" value="{{bankInfo}}">-->
<!--  </div>-->
<!--</div>-->


<div *ngIf="!card">{{'noCard' | translate}}</div>

