<!-- digital-wallet.component.html -->

<h2>{{'openCard' | translate}}</h2>

<form (ngSubmit)="onSubmit()" #accountForm="ngForm">

<!--  <label for="country">Выберите валюту:</label>-->
<!--  <div class="select-wrapper">-->
<!--    <select class="select" id="country" name="country" [(ngModel)]="selectedCountry" (change)="updateBanks($event)" required>-->
<!--      <option disabled selected  style="display:none" value="">Доступные страны</option>-->
<!--      <option *ngFor="let country of countriesEntries()" [value]="country">{{ countries.get(country).flag + " " + countries.get(country).name}}</option>-->
<!--    </select>-->
<!--  </div>-->

  <mat-form-field style="width: 100%">
    <mat-label>{{'chooseCurrency' | translate}}</mat-label>
    <mat-select (selectionChange)="updateBanks($event)" panelClass="mat-select-custom" >
      <ng-container *ngFor="let country of countriesEntries()">
        <mat-option style="color: black" [value]="country">
          <div class="countryFlagAlt"><img src=" {{ countries.get(country).flag}}">{{" " + countries.get(country).currencyName + "(" + countries.get(country).currencySign +")" }}</div>
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <br>

<!--  <label for="bank">Выберите банк:</label>-->
<!--  <div class="select-wrapper">-->
<!--    <select [disabled]="this.selectedCountry == ''" class="select"  id="bank" name="bank" [(ngModel)]="selectedBank" (change)="onBank($event)"   required>-->
<!--      <option disabled selected style="display:none"  value="">Доступные банки</option>-->
<!--      <option *ngFor="let bank of banks" [value]="bank.bankName">{{ banksMap.get(bank.bankName) }}</option>-->
<!--    </select>-->
<!--  </div>-->


  <mat-form-field style="width: 100%">
    <mat-label>{{'chooseBank' | translate}}</mat-label>
    <mat-select [disabled]="this.selectedCountry == ''" (selectionChange)="onBank($event)" panelClass="mat-select-custom" >
      <ng-container *ngFor="let bank of banks">
        <mat-option style="color: black" [value]="bank.bankName">
          {{ banksMap.get(bank.bankName) }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>



  <br>
  <label>
    <mat-checkbox (change)="updateConsentAgreement()" required></mat-checkbox>{{'agreeWith' | translate}} <a href="#"> {{'conditions' | translate}} </a>
<!--    <input type="checkbox" (change)="updateConsentAgreement()"> Я соглашаюсь <a href="#"> с условиями </a>-->
  </label>

  <br>
  <input class="btn btn-green" [disabled]="this.selectedCountry == '' || this.selectedBank == '' || !consentAgreement" type="submit" value="{{'create' | translate}}">
</form>
