<!-- digital-wallet.component.html -->

<h2>Открытие виртуальной карты</h2>

<form (ngSubmit)="onSubmit()" #accountForm="ngForm">

  <label for="country">Выберите валюту:</label>
  <div class="select-wrapper">
    <select class="select" id="country" name="country" [(ngModel)]="selectedCountry" (change)="updateBanks($event)" required>
      <option disabled selected  style="display:none" value="">Доступные страны</option>
      <option *ngFor="let country of countriesEntries()" [value]="country">{{ countries.get(country).flag + " " + countries.get(country).name}}</option>
    </select>
  </div>

  <br>

  <label for="bank">Выберите банк:</label>
  <div class="select-wrapper">
    <select [disabled]="this.selectedCountry == ''" class="select"  id="bank" name="bank" [(ngModel)]="selectedBank" (change)="onBank($event)"   required>
      <option disabled selected style="display:none"  value="">Доступные банки</option>
      <option *ngFor="let bank of banks" [value]="bank.bankName">{{ banksMap.get(bank.bankName) }}</option>
    </select>
  </div>

  <br>
  <label>
    <input type="checkbox" (change)="updateConsentAgreement()"> Я соглашаюсь <a href="#"> с условиями </a>
  </label>

  <br>
  <input [disabled]="this.selectedCountry == '' || this.selectedBank == '' || !consentAgreement" type="submit" value="Создать">
</form>
