<h1>{{'profile'|translate}}</h1>
<div class="profile">
  <div class="profile-body">
    <h3>{{'userName'|translate}} </h3>
    <div class="input-wrapper">
      <input disabled class="input" type="text"
             value="{{user.firstname}}">
    </div>
    <h3>{{'userSurname'|translate}} </h3>
    <div class="input-wrapper">
      <input disabled class="input" type="text"
             value="{{user.surname}}">
    </div>
    <h3>{{'country'|translate}}  </h3>
    <div class="input-wrapper">
      <input disabled class="input" type="text"
             value="{{user.country}}">
    </div>

    <h3>{{'phone'|translate}} </h3>
    <div class="input-wrapper">
      <input disabled class="input" type="text" value="{{user.phone}}">
    </div>

    <h3>{{'email'|translate}} </h3>
    <div class="input-wrapper">
      <input disabled class="input" type="text"
             value="{{user.email}}">
    </div>
    <br>
    <br>


  </div>
  <div>
    <span style="color: darkgrey">*{{'profileNotCorrectInfo'|translate}}</span>
  </div>
</div>
