@use '@angular/material' as mat;
@import 'material-icons/iconfont/material-icons.css';
@import "@angular/material/prebuilt-themes/indigo-pink.css";


$typography: mat.define-typography-config(
  $font-family: 'Montserrat ,sans-serif'
);

@include mat.all-component-typographies($typography);


$indigo-palette: (
  50: #50b848,
  100: #50b848,
  200: #50b848,
  300: #50b848,
  400: #50b848,
  500: #50b848,
  600: #50b848,
  700: #50b848,
  800: #50b848,
  900: #50b848);

/* You can add global styles to this file, and also import other style files */
$main-bg-grey: #f5f5f5;
$main-color-green: #50b848;
$main-color-green-light: rgba(201, 255, 196, 0.45);
$main-color-dark-grey: #595959;



:root {


  --main-bg-grey: #{$main-bg-grey};
  --main-color-green: #{$main-color-green};
  --main-color-green-light: #{$main-color-green-light};
  --main-color-dark-grey: #{$main-color-dark-grey};


  //Card
  --card-text-color: #d5dbe0;

  //Select transfer
  --mdc-filled-text-field-caret-color: #50b848;
  --mdc-filled-text-field-focus-active-indicator-color: #50b848;
  --mdc-filled-text-field-focus-label-text-color: #50b848;
  --mat-option-selected-state-label-text-color: #50b848;
  --mat-select-focused-arrow-color: #50b848;
  --mdc-filled-text-field-container-color: #ffffff;
  //--mdc-filled-text-field-container-color: #FFFFFF;
  --mat-select-trigger-text-size: 1.1rem;
  --mat-option-label-text-siz:  1.1rem;
  --mdc-filled-text-field-label-text-size: 1.1rem;

  font-size: 0.93rem;

  .mdc-text-field--filled:hover {
    background-color: white;
  }
  .mat-mdc-text-field-wrapper:hover {
    background-color: white;
  }

  //Dates
  --mat-datepicker-calendar-date-selected-state-background-color:#50b848;
  --mat-datepicker-toggle-active-state-icon-color:#50b848;
  --mat-datepicker-calendar-date-hover-state-background-color: rgba(80, 184, 72, 0.37);
  --mat-datepicker-calendar-date-selected-disabled-state-background-color: rgba(80, 184, 72, 0.37);
  --mat-datepicker-calendar-date-focus-state-background-color: rgba(80, 184, 72, 0.37);
  --mat-datepicker-calendar-date-in-range-state-background-color:  rgba(80, 184, 72, 0.37);
}

//Select transfer (check)
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after, .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
  color: #50b848;
}
html {
  scroll-behavior: smooth;
  font-family: Montserrat,sans-serif;


}

body {
  font-family: Montserrat, sans-serif;
  width: 100%;
  overflow-x: hidden;


  background-color: var(--main-bg-grey);
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //height: 100vh;
  //margin: 0;
}
* {
  -webkit-tap-highlight-color:  transparent;
}


h2 {
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// {
//  background-color: grey;
//  //margin: 0 !important;
//  //position: absolute;
//  //right: 25px;
//  //top: 60px;
//}

.mat-mdc-snack-bar-container {
  &.red-alert {
    --mdc-snackbar-container-color: #ff8989;
    --mat-mdc-snack-bar-button-color: #3b3b3b;
    --mat-snack-bar-button-color:  #3b3b3b;
    --mdc-snackbar-supporting-text-color: #3b3b3b;
  }
}

.mat-mdc-snack-bar-container {
  &.green-alert {
    --mdc-snackbar-container-color: #9fff89;
    --mat-mdc-snack-bar-button-color: #3b3b3b;
    --mat-snack-bar-button-color:  #3b3b3b;
    --mdc-snackbar-supporting-text-color: #3b3b3b;
  }
}

.select-wrapper {
  position: relative;
  width: 100%;
  // Dropdown icon
  &::after {
    color: black;
    content: '▾';
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
}

// Default state
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  &:focus {
    color: black;
  }
  // Hack for IE 11+
  &::-ms-expand {
    display: none;
  }
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  &:focus {
    color: black;
  }
}


input[type="submit"], button[type="submit"] {
  /* Your styles here */
  //background-color: #4CAF50; /* Green background */
  //color: white; /* White text color */
  //padding: 1.2rem 1.5rem; /* Padding for better appearance */
  //border: none; /* No border */
  //border-radius: 5px; /* Optional: Rounded corners */
  //cursor: pointer; /* Cursor style */
  font-size: 1.2rem;
  //margin-top: 1.5rem;
}

/* Optional: Add hover effect */
input[type="submit"]:hover {
  background-color: #45a049; /* Darker green background on hover */
}

input[type="submit"]:disabled {
  background-color: #a1a1a1; /* Darker green background on hover */
}

.center {
  display: flex;
  justify-content: center;
}

.width100 {
  width: 100%;
}

.width47 {
  width: 47%;
}

.width30 {
  width: 30%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.7rem;
  margin: 1rem 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.btn-grey:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #2e3138;
  background: #c8ccd4;
  border-color: #c8ccd4;
}

.btn-grey:hover {
  color: #2e3138;
  background: #d9dbe0;
  //box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.05);
}


.btn-grey {
  color: #2e3138;
  background-color: #d5d7dd;
  //border-color: #6c757d;
}

.btn-green {
  color: #ffffff;
  background-color: var(--main-color-green);
  //border-color: #6c757d;
}



input[type="checkbox"] {
  transform: scale(1.4);
  margin-right: 0.5rem;
  accent-color: var(--main-color-green);
  color: white;
}



.countryFlag {
  font-size: 1.7rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: gainsboro;
  padding: 0.1rem;
  flex-direction: row;
}
.countryFlag img{
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  margin: 0;
}

.countryFlagAlt {
  font-size: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  border-radius: 50%;
  background-color: gainsboro;
  padding: 0.1rem;
  flex-direction: row;
}
.countryFlagAlt img{
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  margin: 0;
  padding-right: 0.5rem;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none
}


.centrinvest-card-front {
  background: linear-gradient(90deg, rgba(59,177,143,1) 0%, rgba(70,184,97,1) 19%, rgba(42,149,198,1) 100%) !important;
}

.centrinvest-card-back {
  background: rgb(0 181 107)  !important;
}

.bankofchina-card-front {

  background: linear-gradient(144deg, rgba(122,0,0,1) 0%, rgba(199,35,35,1) 28%, rgba(168,7,7,1) 55%, rgb(218, 15, 15) 79%, rgba(199,0,0,1) 100%) !important;
}

.bankofchina-card-back {
  background: rgb(168, 7, 7) !important;
}

